# This is a sample config file.

spring:
  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI}
      database: Diarydb
      auto-index-creation: true

server:
  port: 8080
  servlet:
    context-path: /diary